.App {
  box-sizing: border-box;
  min-height:100vh;
  font-size:62.5%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background-color: rgb(71, 160, 195, 0.5);
}

.quiz{
  width:40vw;
  min-height:55vh;
  background-color: #fff;
  padding: 2rem 4rem;
  border-radius: 1rem;
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.4); 
}
.title{
  border-bottom: 1px solid #464646;
  color:#464646;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 2.4em;
  font-weight: 600;

}
.question-count{
  font-size:1.6em;
  font-weight:400;;
  margin: 10px 0px;
}
.question-section{
  background-color: #594a76;
  color:#fff;
  border-radius: 10px;
  padding: 5px 15px;
  margin-bottom: 30px;
  font-size:1.7em;
  height: 150px;
  display: flex;
  align-items: center;
}
.answer-section{
  margin:30px 0px;
}
.show-answer{
  cursor:pointer;
  font-size: 1.3em;
}
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

button{
  cursor: pointer;
  outline: none;
  display: block;
  border: none;
  margin:auto;
  border-radius: 20px;
  background-color: #66b3ff;
  padding: 10px 15px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
button:hover{
  /* transform: scale(1.08); */
  background-color: #167fe9;
}

.show-score{
  display:none;
  place-items: center;
  font-size:1.8em;
  grid-gap:30px;
  margin: auto;
  padding:20px;
  border: 0.5px solid grey;
  margin: 10px 0px;
}